/* Custom css */

/* FONTS */

/* Webfont: Lato-Regular */
@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../../fonts/Lato-Regular.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */
@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('../../fonts/Lato-Italic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */
@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('../../fonts/Lato-Heavy.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */
@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../../fonts/Lato-HeavyItalic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Open-Science-icons';
  src:  url('../../fonts/Open-Science-icons.eot?g5uas7');
  src:  url('../../fonts/Open-Science-icons.eot?g5uas7#iefix') format('embedded-opentype'),
    url('../../fonts/Open-Science-icons.ttf?g5uas7') format('truetype'),
    url('../../fonts/Open-Science-icons.woff?g5uas7') format('woff'),
    url('../../fonts/Open-Science-icons.svg?g5uas7#Open-Science-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="osi-"], [class*=" osi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Open-Science-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.05em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.osi-compendium:before {
  content: "\e900";
}
.osi-postprint:before {
  content: "\e901";
}
.osi-preprint:before {
  content: "\e902";
}
.osi-prereg:before {
  content: "\e903";
}
.osi-published:before {
  content: "\e904";
}

/* Styles */

body {
    font-family: Lato,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    word-break: break-word;
    background: var(--theme);
}

.post-content a {
  color: rgb(130, 0, 14);
  box-shadow: 0 0px 0; /*remove box-shadow from links*/
}

.post-content a:hover {
  box-shadow: 0 2px 0;
}

.post-content img.avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.hanging-indent {
  padding-left: 20px ;
  text-indent: -20px ;
}

.csl-entry {
  padding-bottom: 15px;
}

.toc a:hover {
    box-shadow: 0 2px 0;
}

/* Open Science Icons */

#osi-notice {
  display: block;
  font-size: 0.8em
}

/* Test */

.cols-2 {
  display: flex;
  flex-wrap: wrap;
  /*margin-right: -15px;*/
  /*margin-left: -15px;*/
}

.col-left, .col-right {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left:15px
}

@media (min-width: 768px) {
  .col-left{
    flex: 0 0 41.66666667%;
    max-width:41.66666667%
  }

  .col-right {
    flex: 0 0 58.33333333%;
    max-width:58.33333333%
  }
}

.avatar-info {
  text-align: center;
}

.post-content .avatar-info h2 {
  color: rgb(130, 0, 14);
}

.post-content .avatar-info h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#institute {
  font-weight: normal;
  font-style: italic;
  color: gray;
}

#my-email {
  color: rgb(130, 0, 14);
}
