{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
</header>

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- range $pages.GroupByPublishDate "2006" }}
{{- if ne .Key "0001" }}
<div class="archive-year">
  <div class="archive-year-header">
    <h2><span class="archive-y">{{- replace .Key "0001" "" }}</span>&nbsp;&nbsp;<span class="archive-count">{{ len .Pages }}</span></h2>
  </div>
  {{- range .Pages.GroupByDate "January" }}
  <div class="archive-month">
    <h3 class="archive-month-header">{{- .Key }}</h3>
    <div class="archive-posts">
      {{- range .Pages  }}
      {{- if eq .Kind "page" }}
      <div class="archive-entry">
        <h3 class="archive-entry-title">
          {{- .Title | markdownify }}
        </h3>
        <div class="archive-meta">
          {{- partial "post_meta.html" . -}}
        </div>
        <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
      </div>
      {{- end }}
      {{- end }}
    </div>
  </div>
  {{- end }}
</div>
{{- end }}
{{- end }}

{{- end  }}{{/* end main */}}
