<span style="display: block" id="osi-notice">
  <b>Icons legend</b> — <span class="osi-manuscript"></span> = <b>Manuscript</b> (author manuscript, not submitted, in preparation).
  <span class="osi-submitted"></span> = <b>Submitted</b> manuscript (aka <em>Preprint</em>; submitted author manuscript <em>prior</em> to peer-review).
  <span class="osi-accepted"></span> = <b>Accepted</b> manuscript (aka <em>Postprint</em>; accepted author manuscript <em>after</em> peer-review, same content as published version).
  <span class="osi-published"></span> = <b>Published</b> manuscript (aka <em>Offprint</em>; accepted manuscript with publisher's formatting, same content as postprint).
  <span class="osi-prereg"></span> = <b>Preregistration</b>.
  <span class="osi-compendium"></span> = <b>Research compendium</b> (data and materials).
</span>
